{% extends "base_token.html" %}
{% load static %}

{% block content %}
<body class="dark-mode">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand p-0" href="{% url "crypto_coins:hello" %}"><img src="{% static "crypto_coins/images/AlSt.png" %}" width="70px" alt="alst"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mx-5" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url "crypto_coins:hello" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="https://kinokrad.my/top-3/"target="_blank">Cinema</a>
                    </li>
                </ul>
                <div class="ic">
                    <a href="https://web.telegram.org/k/" target="_blank"><img style="width: 30px;margin-inline: 1em;" src="{% static "crypto_coins/images/tg.png" %}" alt="telegram"></a>
                    <a href="https://www.youtube.com" target="_blank"><img style="width: 25px;margin-inline: 1em;" src="{% static "crypto_coins/images/yt.png" %}" alt="yotube"></a>
                </div>
            </div>
                <!--выпадающие меню-->
                    <!--выпадающее меню - Token -->
                  
            <div class="collapse navbar-collapse mx-5 hour drop  pb-0" id="navbarNav">
                <ul class="navbar-nav me-auto  mx-1 mb-2 mb-lg-0 tokens">
                    <li class="nav-item crov dropdown ">
                        <a class="nav-link tok  dropdown-toggle text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            TOKEN
                        </a> 
                        <ul class=" dropdown-menu nav-item">
                            {% for token in tokens %}
                            <li>
                                <a class="dropdown-item text-black token-button" 
                                href="#" data-symbol="{{ token.symbol }}"> <img class="avatar" src="{{ token.url_avatar }}" alt="..."> {{ token.name }}</a>
                            </li>
                            {% endfor %} 
                        </ul>
                        <div class="crip">
                            <p class="mb-3 text-white">
                                <img  id="coin" src="https://bin.bnbstatic.com/static/assets/logos/BTC.png" alt="...">
                                <span id="favor">Favorite</span>
                            </p>
                        <div>
                    </li> 
                    <!--выпадающее меню - TIME-FRAME -->
                    <li class="nav-item pen dropdown ">
                        <a class="nav-link tron dropdown-toggle text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">                               <!--<span class="time_frame"id="frame">Загрузка...</span>-->
                            TIME-FRAME                                          
                        </a> 
                        <ul class="dropdown-menu nav-item time_menu ">
                            {% for name_frame, name_value  in time_frames %}
                            <li>
                                <a class="dropdown-item  text-black frame-button" 
                                href="#" data-frame="{{ name_value }}">{{ name_frame }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <ul class="nav-item ">
                            <p class="nav-link frame  text text-white" id="frame">Favorite</p>
                        </ul>  
                    </li> 
                    <!--выпадающее меню - TIME-PERIOD -->
    
                    <li class="nav-item dropdown ">
                        <a class="nav-link tron dropdown-toggle text-white" href="#" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                                TIME-PERIOD
                        </a> 
                        <ul class="dropdown-menu nav-item time_period ">
                            {% for period_time,period_value in time_periods %}
                                <li>
                                    <a class="dropdown-item text-black  period-button" 
                                        href="#" data-period="{{ period_value}}">{{ period_time }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                        <ul class="nav-item">
                            <p id="period" class="nav-link  frame text-white">Favorite</p>
                        </ul>   
                    </li>   
                </ul>
            </div>
            <div class="collapse navbar-collapse mx-5" id="navbarNav">  
                
                <div class="tema">
                    <a class="sun" id="theme-toggle" href="#">🌙🌞</a>
                </div>
                <div>
                    <a class="navbar-brand dancing-script" href="{% url "crypto_coins:hello" %}">AkselWebStudio</a>
                </div>
            </div>   
        </div>
    </nav>
    <!--Строка с последними ценами-->
    <div class="container-fluid toks ">
        <div class="row ticker-wrapper">
            <div class="ticker" id="all-price">
                {% for token in tokens %}
                <p class="ticker-item">
                    <img class="icon" src="{% static token.url_icon %}" alt="...">
                    <span class="token-name">{{ token.name }}</span>
                    <span class="proc">!?.?!</span>
                </p>
                {% endfor %}
                <!-- Дублируем контент, чтобы создать бесконечный цикл -->
                {% for token in tokens %}
                <p class="ticker-item">
                    <img class="icon" src="{% static token.url_icon %}" alt="...">
                    <span class="token-name">{{ token.name }}</span>
                    <span class="proc">!?.?!</span>
                </p>
                {% endfor %}
            </div>
        </div>
        <!--Текущая цена, история-->
        <div class="row">            
            <div class="col-lg-12 col-md-12 col-sm-12 text mt-3">
                <h2 id="current">Текущая цена Ethereum:</h2>          <!--chart-container  container<span id="eth-price">Загрузка...</span>content-container-->
                <h2 id="history-price">История цен на Ethereum</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-3  mx-2 mb-3">
        <div class="row">
            <!--График-->
            <div class="col-lg-8 col-md-12 col-sm-12"">
                <canvas id="tokenChart"></canvas> <!-- График -->
            </div>
            <!--Таблица-->
            <div class="col-lg-4 col-md-12 col-sm-12 tab">   
                <table border="1" id="table-container">
                    <style>
                        .up { color: red; font-weight: bold; }     /* 🔼 Красная стрелка */
                        .down { color: green; font-weight: bold; } /* 🔽 Зелёная стрелка */
                        .neutral { color: gray; }                  /* ➖ Серый прочерк */
                    </style>
                </table>
            </div>   
            
        </div>
    </div>
    <!--The end-->

    <script src="{% static 'crypto_coins/js/update_list_chart.js' %}"></script>
</body>
{% endblock content %}