# Python
*.pyc
*.pyo
__pycache__/

# Django
db.sqlite3
db.sqlite3-journal
/media/
*.log

# Virtual Environment
venv/
.env
*.env

# IDE (игнор файлов из редакторов)
.vscode/
.idea/
*.iml

# Static & Migrations (необязательно)
staticfiles/
static/
*.pickle

# Cache & Debug
*.swp
*.swo
*.~undo
